.fullScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #F5F5F7;
}

.inline {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
}
